# Node.js dependencies
/node_modules/

# Build config
/.babelrc
/.gitignore
/.npmignore
/tsconfig.json
/webpack.config.js

# Source files
/src/

# Misc
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/coverage/
/*.log
/*.tsbuildinfo

# Test files
/__tests__/
/__mocks__/
/*.test.ts
/*.test.tsx
/setupTests.js

# Development files
/public/
/*.json
/*.lock

# Documentation
/README.old.md
